#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 1000px;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(255, 252, 187);
  background: linear-gradient(90deg, rgba(255, 252, 187, 0.8858893899356618) 0%, rgba(185, 240, 255, 1) 81%);
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
}